In [1]:
#mongo db에 있는 파일 가져오기 

from pymongo import MongoClient
username='chohee'
password='chohee22'
URI=f'mongodb+srv://chohee:{password}@cluster0.ghxbe.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'

client=MongoClient({URI})
#print(client) 로 연결여부 확인 완료 

#database 와 연결 
DATABASE='myFirstDatabase'
db=client[DATABASE]

#table (= collection) 생성 및 확인 

COLLECTION='weather-collection'
collection=db[COLLECTION]

#mongo db 파일 가져오기 
import pandas as pd
data=list(db.collection.find())

In [2]:
#column마다 분리하기 
keys_list=['tm','stnid','stnnm','avgta','maxta','minta','sumrn']
for i in range(7):
    keys_list[i]

In [3]:
#list dictionary 화

dictionary = {i : data[i] for i in range(len(data))}

In [4]:
date=pd.DataFrame(dictionary[0]["tm"])

In [5]:
weatherdf=pd.DataFrame()
for i in range(7):
    print(i)
    add=pd.DataFrame(dictionary[i][keys_list[i]])
    pd.concat([weatherdf,add],axis=0)

0
1
2
3
4
5
6

In [6]:
#keys_list=['tm','stnid','stnnm','avgta','maxta','minta','sumrn']
date=pd.DataFrame(dictionary[0]["tm"])
locationId=pd.DataFrame(dictionary[1]["stnid"])
locationName=pd.DataFrame(dictionary[2]["stnnm"])
avgtemp=pd.DataFrame(dictionary[3]["avgta"])
maxtemp=pd.DataFrame(dictionary[4]["maxta"])
mintemp=pd.DataFrame(dictionary[5]["minta"])
precipitation=pd.DataFrame(dictionary[6]["sumrn"])

In [7]:
weatherdf=pd.concat([date,locationId,locationName,avgtemp,maxtemp,mintemp,precipitation],axis=1)

In [8]:
print(weatherdf)

              0    0   0      0     0      0    0
0    2020-01-01  108  서울   -2.2   0.3   -6.5  0.1
1    2020-01-02  108  서울    1.0   3.8   -0.7
2    2020-01-03  108  서울   -0.1   4.6   -3.4
3    2020-01-04  108  서울    1.2   6.1   -2.8
4    2020-01-05  108  서울    1.3   6.6   -3.2
..          ...  ...  ..    ...   ...    ...  ...
361  2020-12-27  108  서울    5.8  10.0    1.4  0.0
362  2020-12-28  108  서울    6.7  11.4    4.2  1.3
363  2020-12-29  108  서울    0.1   4.3   -6.2  0.2
364  2020-12-30  108  서울  -10.9  -6.2  -12.9
365  2020-12-31  108  서울   -8.9  -5.0  -12.9  0.0

[366 rows x 7 columns]

In [9]:
columns=['date','locationId','locationName','avgtemp','maxtemp','mintemp','precipitation']
weatherdf.columns=columns
print(weatherdf)

           date locationId locationName avgtemp maxtemp mintemp precipitation
0    2020-01-01        108           서울    -2.2     0.3    -6.5           0.1
1    2020-01-02        108           서울     1.0     3.8    -0.7
2    2020-01-03        108           서울    -0.1     4.6    -3.4
3    2020-01-04        108           서울     1.2     6.1    -2.8
4    2020-01-05        108           서울     1.3     6.6    -3.2
..          ...        ...          ...     ...     ...     ...           ...
361  2020-12-27        108           서울     5.8    10.0     1.4           0.0
362  2020-12-28        108           서울     6.7    11.4     4.2           1.3
363  2020-12-29        108           서울     0.1     4.3    -6.2           0.2
364  2020-12-30        108           서울   -10.9    -6.2   -12.9
365  2020-12-31        108           서울    -8.9    -5.0   -12.9           0.0

[366 rows x 7 columns]

In [10]:
#product price data가져오기 

data=list(db.pricecollection.find())

In [11]:
#key_list=['itemname','yyyy','regday','price']

In [12]:
#list dictionary 화
dictionary = {i : data[i] for i in range(len(data))}

In [13]:
#price date frame 생성 함수
def df(n,name):
    itemname=pd.DataFrame(dictionary[n+0]["itemname"])
    year=pd.DataFrame(dictionary[n+1]["yyyy"])
    date=pd.DataFrame(dictionary[n+2]["regday"])
    price=pd.DataFrame(dictionary[n+3]["price"])
    name=pd.concat([itemname,year,date,price],axis=1)
    name.columns=['item','year','date','price'] #칼럼 명
    name['Date']=pd.to_datetime(name.year+"/"+name.date) #날짜 합치기 
    return name

In [14]:
#df 생성
hairtail=df(0,'hairtail')
cabbage=df(4,'cabbage')
pear=df(8,'pear')
pork=df(12,'pork')

In [15]:
#확인완료
print(hairtail)

    item  year   date  price       Date
0         2020  01/17  7,450 2020-01-17
1         2020  01/21  7,450 2020-01-21
2         2020  01/22  7,450 2020-01-22
3         2020  03/26  8,450 2020-03-26
4         2020  03/27  8,450 2020-03-27
..   ...   ...    ...    ...        ...
335   갈치  2020  12/22      - 2020-12-22
336   갈치  2020  12/23      - 2020-12-23
337   갈치  2020  12/24      - 2020-12-24
338   갈치  2020  12/30  7,980 2020-12-30
339   갈치  2020  12/31  7,980 2020-12-31

[340 rows x 5 columns]

In [16]:
#date & year 없애기
def cleaning(df):
    df.drop('year',axis=1,inplace=True)
    df.drop('date',axis=1,inplace=True)
    return df

In [17]:
cleaning(hairtail)
print(hairtail) #확인 완료

    item  price       Date
0         7,450 2020-01-17
1         7,450 2020-01-21
2         7,450 2020-01-22
3         8,450 2020-03-26
4         8,450 2020-03-27
..   ...    ...        ...
335   갈치      - 2020-12-22
336   갈치      - 2020-12-23
337   갈치      - 2020-12-24
338   갈치  7,980 2020-12-30
339   갈치  7,980 2020-12-31

[340 rows x 3 columns]

In [18]:
#나머지 아이템도 year&date 없애기
cleaning(pear)
cleaning(pork)
cleaning(cabbage)

     item  price       Date
0          4,650 2020-01-02
1          4,810 2020-01-03
2          4,810 2020-01-06
3          4,650 2020-01-07
4          4,650 2020-01-08
...   ...    ...        ...
5923   배추      - 2020-12-24
5924   배추  1,780 2020-12-28
5925   배추  1,780 2020-12-29
5926   배추  1,780 2020-12-30
5927   배추      - 2020-12-31

[5928 rows x 3 columns]

In [19]:
#각 데이터 날짜 확인해 보기 
def check(df):
    a=df.drop_duplicates(subset='Date',keep="first")
    df=a.set_index('Date')
    return df

In [20]:
hairtail=check(hairtail)

In [21]:
cabbage=check(cabbage)
pear=check(pear)
pork=check(pork)

In [22]:
pear.dtypes, hairtail.dtypes, pork.dtypes, cabbage.dtypes

(item     object
 price    object
 dtype: object,
 item     object
 price    object
 dtype: object,
 item     object
 price    object
 dtype: object,
 item     object
 price    object
 dtype: object)

In [23]:
#merge 시도 
pricedfraw=hairtail.merge(cabbage,how="outer",on="Date")
print(pricedfraw)

           item_x price_x item_y price_y
Date
2020-01-17          7,450          4,548
2020-01-21          7,450          4,548
2020-01-22          7,450          4,548
2020-03-26          8,450          4,533
2020-03-27          8,450          4,533
...           ...     ...    ...     ...
2020-12-03    NaN     NaN          2,774
2020-12-17    NaN     NaN          2,565
2020-12-18    NaN     NaN          2,616
2020-12-28    NaN     NaN          2,335
2020-12-29    NaN     NaN          2,600

[247 rows x 4 columns]

In [24]:
pricedfraw=pricedfraw.merge(pear,how="outer",on="Date")
pricedfraw=pricedfraw.merge(pork,how="outer",on="Date")
print(pricedfraw)

           item_x price_x item_y price_y item_x price_x item_y price_y
Date
2020-01-17          7,450          4,548         28,574         15,263
2020-01-21          7,450          4,548         29,503         15,263
2020-01-22          7,450          4,548         29,503         15,263
2020-03-26          8,450          4,533         29,355         18,875
2020-03-27          8,450          4,533         29,355         18,875
...           ...     ...    ...     ...    ...     ...    ...     ...
2020-12-17    NaN     NaN          2,565         35,745         21,438
2020-12-18    NaN     NaN          2,616         35,745         21,438
2020-12-28    NaN     NaN          2,335         37,686         20,375
2020-12-29    NaN     NaN          2,600         37,333         20,625
2020-07-22    NaN     NaN    NaN     NaN         31,017         22,000

[248 rows x 8 columns]

In [25]:
pricedfraw.columns=["갈치","갈치가격","배추","배추가격","배","배가격","돼지고기","돼지고기가격"]

In [106]:
pricedf=pricedfraw.drop(["갈치","배추","배","돼지고기"],axis=1)
print(pricedf)

             갈치가격   배추가격     배가격  돼지고기가격
Date
2020-01-17  7,450  4,548  28,574  15,263
2020-01-21  7,450  4,548  29,503  15,263
2020-01-22  7,450  4,548  29,503  15,263
2020-03-26  8,450  4,533  29,355  18,875
2020-03-27  8,450  4,533  29,355  18,875
...           ...    ...     ...     ...
2020-12-17    NaN  2,565  35,745  21,438
2020-12-18    NaN  2,616  35,745  21,438
2020-12-28    NaN  2,335  37,686  20,375
2020-12-29    NaN  2,600  37,333  20,625
2020-07-22    NaN    NaN  31,017  22,000

[248 rows x 4 columns]

In [107]:
#데이터 타입 확인
pricedf.dtypes

갈치가격      object
배추가격      object
배가격       object
돼지고기가격    object
dtype: object

In [108]:
#결측치 확인 하기 
pd.DataFrame(pricedf.isnull().sum(),columns=['결측치 개수'])

        결측치 개수
갈치가격       163
배추가격         1
배가격          5
돼지고기가격       0

In [29]:
#profiling 확인 
!pip install pandas-profiling
import pandas_profiling

Requirement already satisfied: pandas-profiling in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (3.1.0)
Requirement already satisfied: htmlmin>=0.1.12 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: multimethod>=1.4 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (1.6)
Requirement already satisfied: tqdm>=4.48.2 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (4.62.3)
Requirement already satisfied: scipy>=1.4.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (1.7.1)
Requirement already satisfied: markupsafe~=2.0.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (2.0.1)
Requirement already satisfied: phik>=0.11.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (0.12.0)
Requirement already satisfied: PyYAML>=5.0.0 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (5.4.1)
Requirement already satisfied: jinja2>=2.11.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (3.0.2)
Requirement already satisfied: requests>=2.24.0 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (2.26.0)
Requirement already satisfied: seaborn>=0.10.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (0.11.2)
Requirement already satisfied: missingno>=0.4.2 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (0.5.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (1.21.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (1.3.3)
Requirement already satisfied: matplotlib>=3.2.0 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (3.4.3)
Requirement already satisfied: joblib~=1.0.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied: pydantic>=1.8.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (1.8.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: attrs>=19.3.0 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (21.2.0)
Requirement already satisfied: networkx>=2.4 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (2.6.3)
Requirement already satisfied: Pillow in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (8.3.2)
Requirement already satisfied: imagehash in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: six in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from pydantic>=1.8.1->pandas-profiling) (3.10.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from requests>=2.24.0->pandas-profiling) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from requests>=2.24.0->pandas-profiling) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from requests>=2.24.0->pandas-profiling) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from requests>=2.24.0->pandas-profiling) (2.0.6)
Requirement already satisfied: PyWavelets in /Users/chohee/opt/anaconda3/envs/section3_Project/lib/python3.8/site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.1.1)

In [109]:
#object 숫자화 하기 
#nan 값 처리 
import numpy as np
pricedf=pricedf.replace(np.nan, '', regex=True)

In [111]:
#콤마 없애기
pricedf['갈치가격']=pricedf['갈치가격'].str.replace(',','')
pricedf['배추가격']=pricedf['배추가격'].str.replace(',','')
pricedf['배가격']=pricedf['배가격'].str.replace(',','')
pricedf['돼지고기가격']=pricedf['돼지고기가격'].str.replace(',','')

In [113]:
#numeric으로 바꾸기 
pricedf=pricedf.apply(pd.to_numeric)

In [115]:
#소수점 1자리까지만 
pd.set_option('display.float_format', '{:,.1f}'.format)

In [117]:
#데이터 타입 확인 
pricedf.dtypes

갈치가격      float64
배추가격      float64
배가격       float64
돼지고기가격      int64
dtype: object

In [30]:
#profiling report
#pricedf.profile_report()

In [118]:
#결측치 열별 평균값으로 대체 
pricedf=pricedf.fillna(pricedf.mean())

In [121]:
#total 가격 칼럼 넣기 - 
pricedf['total']=pricedf["갈치가격"]+pricedf['배추가격']+pricedf["배가격"]+pricedf["돼지고기가격"]
print(pricedf)

              갈치가격    배추가격      배가격  돼지고기가격    total
Date
2020-01-17 7,450.0 4,548.0 28,574.0   15263 55,835.0
2020-01-21 7,450.0 4,548.0 29,503.0   15263 56,764.0
2020-01-22 7,450.0 4,548.0 29,503.0   15263 56,764.0
2020-03-26 8,450.0 4,533.0 29,355.0   18875 61,213.0
2020-03-27 8,450.0 4,533.0 29,355.0   18875 61,213.0
...            ...     ...      ...     ...      ...
2020-12-17 7,091.8 2,565.0 35,745.0   21438 66,839.8
2020-12-18 7,091.8 2,616.0 35,745.0   21438 66,890.8
2020-12-28 7,091.8 2,335.0 37,686.0   20375 67,487.8
2020-12-29 7,091.8 2,600.0 37,333.0   20625 67,649.8
2020-07-22 7,091.8 5,272.7 31,017.0   22000 65,381.5

[248 rows x 5 columns]

In [126]:
#weather df 정리하기 - 결측치 확인 하기 
pd.DataFrame(weatherdf.isnull().sum(),columns=['결측치 개수'])

               결측치 개수
Date                0
locationId          0
locationName        0
avgtemp             0
maxtemp             0
mintemp             0
precipitation       0

In [127]:
weatherdf.dtypes

Date             datetime64[ns]
locationId               object
locationName             object
avgtemp                  object
maxtemp                  object
mintemp                  object
precipitation            object
dtype: object

In [129]:
#avgtemp, maxtemp,mintemp,precipitation 숫자화
weatherdf=weatherdf.replace(np.nan, '', regex=True)
#콤마 없애고 & nemeric으로 변환
weatherdf['avgtemp']=pd.to_numeric(weatherdf['avgtemp'].str.replace(',',''))
weatherdf['maxtemp']=pd.to_numeric(weatherdf['maxtemp'].str.replace(',',''))
weatherdf['mintemp']=pd.to_numeric(weatherdf['mintemp'].str.replace(',',''))
weatherdf['precipitation']=pd.to_numeric(weatherdf['precipitation'].str.replace(',',''))
#소수점 1자리까지만 
pd.set_option('display.float_format', '{:,.1f}'.format)

In [130]:
weatherdf.dtypes

Date             datetime64[ns]
locationId               object
locationName             object
avgtemp                 float64
maxtemp                 float64
mintemp                 float64
precipitation           float64
dtype: object

In [131]:
#weather 와 통합 하기 전 weather 처리 , 날짜별로 오름차순 정렬, index reset
weatherdf.rename(columns={'date':'Date'},inplace=True)
weatherdf['Date']=pd.to_datetime(weatherdf['Date'])
Data=pricedf.merge(weatherdf,how="left",on="Date")
Data=Data.sort_values(['Date'],ascending=True)
Data=Data.reset_index(drop=True)

          Date locationId locationName  avgtemp  maxtemp  mintemp  \
0   2020-01-01        108           서울     -2.2      0.3     -6.5
1   2020-01-02        108           서울      1.0      3.8     -0.7
2   2020-01-03        108           서울     -0.1      4.6     -3.4
3   2020-01-04        108           서울      1.2      6.1     -2.8
4   2020-01-05        108           서울      1.3      6.6     -3.2
..         ...        ...          ...      ...      ...      ...
361 2020-12-27        108           서울      5.8     10.0      1.4
362 2020-12-28        108           서울      6.7     11.4      4.2
363 2020-12-29        108           서울      0.1      4.3     -6.2
364 2020-12-30        108           서울    -10.9     -6.2    -12.9
365 2020-12-31        108           서울     -8.9     -5.0    -12.9

     precipitation
0              0.1
1              nan
2              nan
3              nan
4              nan
..             ...
361            0.0
362            1.3
363            0.2
364            nan
365            0.0

[366 rows x 7 columns]

In [132]:
Data2=Data.drop(["갈치가격","배추가격","배가격","돼지고기가격","locationId","locationName"],axis=1)

In [138]:
#결측값 평균으로 대체
Data2['precipitation']=Data2['precipitation'].fillna(Data2.mean())

<ipython-input-138-e66e07c6760e>:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  Data2['precipitation']=Data2['precipitation'].fillna(Data2.mean())

In [139]:
print(Data2)

          Date    total  avgtemp  maxtemp  mintemp  precipitation
0   2020-01-02 58,446.8      1.0      3.8     -0.7           11.4
1   2020-01-03 58,481.8     -0.1      4.6     -3.4           11.4
2   2020-01-06 58,518.8      3.1      4.6      0.6            1.8
3   2020-01-07 58,246.8      6.3      7.7      4.2           46.3
4   2020-01-08 58,358.8      2.4      8.9     -0.4           11.6
..         ...      ...      ...      ...      ...            ...
243 2020-12-24 67,627.0      2.6      6.1     -2.0           11.4
244 2020-12-28 67,487.8      6.7     11.4      4.2            1.3
245 2020-12-29 67,649.8      0.1      4.3     -6.2            0.2
246 2020-12-30 70,355.0    -10.9     -6.2    -12.9           11.4
247 2020-12-31 75,387.0     -8.9     -5.0    -12.9            0.0

[248 rows x 6 columns]